{% extends 'base.html' %}

{% block title %}Edit {{ recipe.title }}{% endblock %}

{% block javascript_includes %}
<script type='text/javascript'>
    var add_new_ingredient_field = function() {
        var html = "" +
            "<div class='form-field-wrapper'>" +
            "    <input type='text' name='ingredient' placeholder='Enter an ingredient' /><span class='ingredient-delete-link'><img src='/media/images/icon_deletelink.gif' /></span>" +
            "</div>";
        jQuery('div#ingredients-grouping').append(html);
    };

    jQuery(document).ready(function() {
        jQuery('span.ingredient-add-link').live('click', function() {
            add_new_ingredient_field();
        });

        jQuery('span.ingredient-delete-link').live('click', function() {
            jQuery(this).parent().remove();
        });
    });
</script>
{% endblock %}

{% block body %}
<div id='recipe-change-form'>
    <form action='{% url recipes.views.edit_recipe recipe.key %}' method='post' enctype='multipart/form-data'>
         <div id='recipe-info'>
            <div class='form-field-wrapper'>
                <label for='id_title'>Title:</label>
                <input type='text' name='title' id='id_title' value='{{ recipe.title }}' />
            </div>
            <!--
            <div class='form-field-wrapper'>
                <label for='id_picture'>Picture:</label>
                <input type='file' name='picture' value='' />
            </div>
            -->
            <div class='form-field-wrapper'>
                <div><label for='id_description'>Description:</label></div>
                <textarea name="description" id="id_description">{{ recipe.description }}</textarea>
            </div>
            <div class='form-field-wrapper'>
                <div><label for='id_serves'>Serves: </label><input id='id_serves' name='serves' type='text' value='{{ recipe.serves }}' /></div>
            </div>
            <div class='form-field-wrapper'>
                <div><label for='id_directions'>Directions:</label></div>
                <textarea name="directions" id="id_directions">{{ recipe.directions }}</textarea>
            </div>
        </div>
        <div id='ingredients-fields'>
            <label>Ingredients:</label><span class='ingredient-add-link'><img src='/media/images/icon_addlink.gif' /></span>
            <div id='ingredients-grouping'>
                {% for ingredient in recipe.ingredient_set %}
                <div class='form-field-wrapper'>
                    <input class='ingredient-field' type='text' name='ingredient' value='{{ ingredient.description }}' /><span class='ingredient-delete-link'><img src='/media/images/icon_deletelink.gif' /></span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div style='clear: both;'></div>
        <div class='add-recipe-button'>
            <input type='submit' value='Save Changes' />
        </div>
    </form>
    <div style='clear: both;'></div>
</div>
{% endblock %}
