{% extends 'base.html' %}

{% block title %}Cookiebook{% endblock %}

{% block body %}
<div class='search-box'>
    <form action='{% url recipes.views.recipe_list %}' method='GET'>
        <input type='text' name='query' placeholder='Search' />
        <input type='submit' name='submit' value='Search' />
    </form>
</div>
<div id='add-recipe-top' class='add-recipe-button'>
    <input type='button' value='Add a recipe' onClick='location.href = "/recipe/add/"' />
</div>
<table id='recipe-list'>
    <tr class='subject-header'>
        <td>Title</td>
        <td>Description</td>
        <td>Added by</td>
        <td>Published</td>
    </tr>
{% for recipe in recipe_list %}
    <tr>
        <td>
            <a href='/recipe/{{ recipe.key|escape }}/'>{{ recipe.title|escape }}</a>
        </td>
        <td>
            {{ recipe.description|escape }}
        </td>
        <td>
            {{ recipe.added_by|escape }}
        </td>
        <td>
            {{ recipe.published|escape }}
        </td>
    </tr>
{% endfor %}
</table>
<div id='add-recipe-bottom' class='add-recipe-button'>
    <input type='button' value='Add a recipe' onClick='location.href = "/recipe/add/"' />
</div>

{% endblock %}
